@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
--cor-principal: #c7e2ee;
--cor-secundária:#103992;
--cor-destaque:#1E90FF;

}

body{
    font-family:"Lora", sans-serif;
    font-weight:500;
    background-color: #c7e2ee;

}

h1, h2, h4{
    color:#103992;

}

.btn-link{
    color: var(--cor-secundária);
    font-weight:700;
}

a, .btn-link:hover{
color:var(--cor-destaque)
}

a:hover{
    color:var(--cor-secundária)
}